.card-list {
  flex-grow: 3;
  padding-left: 1rem;
}

.card-list-title {
  text-align: center;
  background: #645bea;
  color: #fff;
  margin: 0;
  border-radius: 8px;
}

.card-list-message {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .card-list {
    padding-left: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .card-list-title {
    padding: 0.7rem;
  }
}
